
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: blueviolet;
}
#form{
        background: white;
        padding: 40px;
        max-width: 70vh;
        margin: 120px auto;
        text-align: center;
        border-radius: 10px;
        box-shadow: 10px 10px 5px black;
}
form input{
    outline: none;
    padding: 5px;
}
#submitBtn{
    background: black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    padding: 9px;
    width: 100px;
}
